{{#if success_msg}}
<div class="landing-section">
    <div class="landing-cont w-container">
<div class="alert alert-success">{{success_msg}}</div>
</div>
</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger">{{error_msg}}</div>
{{/if}}