<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
    <div class="nav-cont w-container">
        {{#if user}}
        <a href="/" class="brand w-nav-brand">
            
            <img src="/images/Group 2.svg" width="64" alt="logo" id="image" />
            {{!-- <h1 class="main-heading">postit</h1> --}}
        </a>
        <nav role="navigation" class="w-nav-menu">
             <a href="./users/signout" class="nav-link w-nav-link">SignOut</a>
              <a href="./ideas" class="nav-link w-nav-link">My ideas</a>
            {{!--
            <a href="/about" class="nav-link w-nav-link">About</a> --}}
        </nav>
        <div class="w-nav-button">
            <img src="/images/Group 12.svg" /> 
        </div>
        {{else}}
        <a href="/" class="brand w-nav-brand">
            
            <img src="/images/Group 2.svg" width="64" alt="logo" id="image" />
            {{!-- <h1 class="main-heading">postit</h1> --}}
        </a>
        <nav role="navigation" class="w-nav-menu">
            <a href="./users/signin" class="nav-link w-nav-link">SignIn</a>
            {{!--
            <a href="/about" class="nav-link w-nav-link">About</a> --}}
        </nav>
        <div class="w-nav-button">
            <img src="/images/Group 12.svg" /> 
        </div>
        {{/if}}
    </div>
</div>