<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#9948FF" />
    <link rel="icon" href="/images/Group 22.png" />
    <link href="/css/app.css" rel="stylesheet">

    <title>Idea app</title>

</head>

<body>
    {{> _navbar}} {{> _msg}} {{> _errors}} {{{body}}}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://uploads-ssl.webflow.com/5b1963f99e839e140a50b717/js/webflow.bafc15b22.js" type="text/javascript"></script>

</body>

</html>