{{#if user}}
<div class="landing-section">
    <div class="landing-cont w-container">
        <h1 class=" main">Have an idea you wanna write down??</h1>
        <h1 class="second-heading">go ahead</h1>
        <a href="./ideas/add" class="signup-btn w-button">Add Idea</a>
        <div class="signup-cont">
        </div>
         </div>
        {{else}}
        <div class="landing-section">
    <div class="landing-cont w-container">
        <h1 class=" main">Have an idea you wanna write down??</h1>
        <h1 class="second-heading">go ahead</h1>
        <div class="signup-cont">
            <h4 class="text">dont have an account?</h4>
            <a href="./users/signup" class="link">sign up</a>
        </div>
         </div>
         
        {{/if}}
   
</div>