<div class="landing-section">
    <div class="landing-cont w-container">
        <h1 class="heading">Sign In</h1>
        <div class="form-block w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="form" method="post" action="/users/signin">
                <label class="form-text">Email</label>
                <input type="text" class="signup-input w-input" maxlength="256" name="email" data-name="Field 2" id="field-2" required=""
                />
                <label class="form-text">password</label>
                <input type="password" class="signup-input w-input" maxlength="256" name="password" data-name="Field 3" id="field-3" required=""
                />
                <div class="btn-centered">
                    <input type="submit" value="Sign In" data-wait="Please wait..." class="signup-btn w-button" />
                </div>
            </form>
        </div>
    </div>
</div>