<div class="landing-section">
    <div class="landing-cont w-container">
        <h1 class="heading">Idea</h1>
        <div class="form-block w-form">
            <form method="post" action="/ideas" class="form">
                <label class="form-text">Title</label>
                <input type="text" class="signup-input w-input" name="title" required />
                <label class="form-text">content</label>
                <textarea class="signup-input w-input" maxlength="256" name="details" cols="30" rows="10" required></textarea>
                <div class="btn-centered">
                    <input type="submit" value="Add idea" class="signup-btn w-button" />
                </div>
            </form>
        </div>
    </div>
</div>